body {
    font-family: Arial, sans-serif;
    margin: 20px;

    #background-image: url('https://files.vrchat.cloud/World-SlashCo-VR-Image-202236f1_.file_ce8cec04-e6b6-4caa-bc29-f1ad4739c7af.2.png?Expires=1729728000&Key-Pair-Id=K3JAQ0Y971TV2Z&Signature=dyqxhZpgllXVGw1p5xD9B4De84qvx3ez25VaNGTNxzrnkbTAATaFQnYokLjlPM~tVcyEhaAR1Ly6qWVGsmw-ZWpVU7IS53Ym3PVMiTb5-mXLli3~PGC~5HqdVOsWyIi8guJcGDaFrPqX3i4wmWKnWh9EXig2XnuqZIj857R3le1ICBXbXtr1bX8kRjhjpgM5TXbjIFG47ku1q7-HiQwIiXr0Y3X9SgyeilqZ4wyJbTkDQidkMmmo5kH9zahNA6k3RMUevNkPVONuq7iON-E6OlIrDgi9Et1PUvYKOC9PMiHy6akzZQb1PnvhBRkVy5MGemGZWxJPN3awZ2fOFhclQA__');
    background-size: cover;
    background-position: center;
    color: white;
}
li{
    list-style: none;
}
h2 {
    color: #333;
}
.character {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.ability, .hint {
    margin: 5px 0;
}
.title-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
}
.title-card h1 {
    font-size: 3rem;
}

footer{
    text-align: center;
}